<!DOCTYPE html>
<html>
    <head>
        <meta charset="OTF-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="index.js"></script>
        <link rel="stylesheet" href="style.css">
        <title>Interface Gestion</title>
    </head>
    <body>
        <header>
            <h1>Interface de gestion des clients</h1>
        </header>
            <table class="clients">
                <thead class="th-1">
                    <tr>
                        <th colspan="6">Informations sur les différents Clients</th>
                    </tr>
                </thead>
                <thead class="th-2">
                    <tr>
                        <th>Nom :</th>
                        <th>Prénom :</td>
                        <th>Téléphone :</th>
                        <th>Adresse e-mail :</th>
                        <th>Modifier le profil :</th>
                        <th>Supprimer un Client :</th>
                    </tr>
                </thead>
                <tbody id="app">
                    <tr v-for="client in clients" v-if="!changing">
                        <td v-for="item in client">{{ item }}</td>
                        <td><button v-on:click="modify(client)">Mod</button></td>
                        <td><button v-on:click="kill(client)">Del</button></td>
                    </tr>
                    <tr v-for="client in clients" v-if="changing">
                        <td v-for="item in client">
                            <input type="text" placeholder=client.item>
                        </td>
                        <td><button v-on:click="modify(client)">Mod</button></td>
                        <td><button v-on:click="kill(client)">Del</button></td>
                    </tr>
                </tbody>
            </table>
        <script>
            var app = new Vue ({
                el: "#app",
                data: {
                    changing: false,
                    clients: [  ['Mag',"Wosbite", "06 66 66 66 66", "magwosbite@gmail.com" ],
                                ['Mab', 'elshat', "07 77 77 77 77", "mabelshat@gmail.com"]
                            ],
                    commands:[]
                },
                methods:{
                    modify: function( client ){
                        if (this.changing) {
                            /* GET
                            PUSH 
                            */
                            console.log("Changements enregistrés");
                            this.changing = false;
                        }else {
                            console.log("Changements en cours");
                            this.changing = true;
                        } 
                    },
                    kill: function ( client ){
                        let decision = window.prompt("Are you sure you want to delete him ?");
                        console.log( typeof decision);
                        if ( decision === null ){
                            console.log("Sage décision, ne supprimez pas ou vous serez supprimé B)")
                        }else if ( decision === "" || decision === "yes" ){
                            console.log("La cible a été apréhendé");
                        }else {
                            console.log("Un peu de sang froid de grâce");
                        }
                    },
                    add: function ( clients ){
                        console.log("Vous pouvez ajouter de nouveaux clients :)")
                    }
                }
            })
        </script>
        <footer>
        </footer>
    </body>
</html>